body 
{
	background-color:#f4f4f4;
	font: 13px/1.5 'Helvetica Neue', "MS Trebuchet", sans-serif;
}
div#main_container
{
	margin-left: auto;
	margin-right: auto;
	width:826px;
}
div#above_content
{
	height: 60px;
}
div#logo
{
	height: 34px;
	width: 128px;
	margin-top: 15px;
	margin-left: 13px;
	float: left;
}
div#top_nav
{
	float:right;
	margin-right: 13px;
	height: 40px;
	background-color: #4d4d4d;
}
div#links
{
	float:left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 7px;
}

div#links a:link, div#links a:visited, div#links a:active
{
	color:white;
	text-decoration:none;
}
div#links a:hover 
{
	text-decoration: underline;
	color:white;
}
div#bright
{
	background-image:url('/images/bright.gif');
	background-position: bottom;
	background-repeat: no-repeat;
	height: 40px;
	width: 4px;
	float: right;
}
div#bleft
{
	background-image:url('/images/bleft.gif');
	background-position: bottom;
	background-repeat: no-repeat;
	height: 40px;
	width: 4px;
	float: left;
	background-color: #85bd57;
}
div#join
{
	float: left;
	background-color: #85bd57;
	height: 30px;
	padding-top: 10px;
	padding-right:10px;
	padding-left:8px;
	font-weight: bold;
}
div#join a:link, div#join a:visited, div#join a:active
{
	text-decoration: none;
	color: white;
}
div#join a:hover
{
	text-decoration: underline;
	color: white;
}
div#border_top
{
	background-image:url('/images/top_bg.png');
	height: 23px;
	width: 826px;
	
}
div#border_bottom
{
	background-image:url('/images/bottom_bg.png');
	height: 23px;
	width: 826px;
	
}
div#content
{
	width: 826px;
	background-image:url('/images/bg.png');
	background-repeat:repeat-y;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 10px;
}
.pflash
{
	margin: 0;
}

div#log_entry_feel_slider {
        width: 370px;
}