<% nested_form_for([@athlete, @log_entry]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f=>f} %>
  <div id="slider">
  </div>
  <%= f.submit "save log" %>
<% end %>
